/* Container for the form */
.all{
  margin-top: 30px;
}
.create-order-container {
   margin-top: 10px;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading */
  .create-order-heading {
    text-align: center;
    color: #333;
  }
  
  /* Form inputs */
  .create-order-form div {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .create-order-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .create-order-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-order-input[type="radio"] {
    width: auto;
  }
  
  .create-order-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-order-button:hover {
    background-color: #218838;
  }
  
  /* Message */
  .create-order-message {
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .create-order-warning {
    color: red;
  }